.wrapper{
    width: 90%;
    margin: 0 auto;
}
.wrapper h1{
    font-family: 'Comfortaa', cursive;

}
.wrapper h4{
    font-family: 'PT Serif', serif;

}
.wrapper p{
    font-family: 'PT Serif', serif;

}
.wrapper h2{
    font-family: 'Comfortaa', cursive;

}