.wrapper{
    width: 90%;
    margin: 0 auto;
}
.wrapper h1{
    font-family: 'Comfortaa', cursive;

}
.wrapper h4{
    font-family: 'PT Serif', serif;

}
.wrapper p{
    font-family: 'PT Serif', serif;

}
.wrapper h2{
    font-family: 'Comfortaa', cursive;

}
.btn {
    padding: 5px;
    background-color:gainsboro;
    color:black;
    font-size: 20px;
    border-radius: 5px;
    margin: 10px 10px 10px 1px;
}
.btn:hover{
    box-shadow: -5px 3px 30px gray;
    cursor: pointer;
    transition: all 1s;
    background-color: white;
    color: black;
}
